[data-theme^=gruvbox], .app-theme-picker__picker[data-theme^=gruvbox] {
  --background: var(--gruvbox-background);
  --accent-color: var(--gruvbox-yellow);

  /* Text */
  --text-color: var(--gruvbox-primary);
  --text-color-secondary: var(--gruvbox-secondary);

  /* Tabs - Deprecated */
  --tabs-background: var(--card-border-color);
  --tabs-item-background--selected: oklch(
      from var(--text-color-secondary) l c h / 0.175
  );

  /* Table - deprecated */
  --table-background: color-mix(in srgb, var(--background) 95%, var(--text-color-secondary));

  /* Side panel */
  --panel-border-color: color-mix(in srgb, var(--text-color-secondary) 15%, var(--card-background));

  /* Form - deprecated */
  --input-color: var(--elevation-2-background);

  /* Default button */
  --button-background: oklch(from var(--text-color-secondary) l c h / 0.075);
  --button-background--hover: oklch(
      from var(--text-color-secondary) l c h / 0.125
  );
  --button-background--active: oklch(
      from var(--text-color-secondary) l c h / 0.175
  );
  --button-box-shadow--focus: oklch(
      from var(--text-color-secondary) l c h / 0.1
  );

  /* Variables for sidebar items, card items */
  --item-background--hover: oklch(from var(--text-color-secondary) l c h / 0.1);
  --item-background--active: oklch(
      from var(--text-color-secondary) l c h / 0.15
  );
  --item-box-shadow--focus: oklch(from var(--text-color-secondary) l c h / 0.1);

  /* Card - deprecated */
  --card-background: var(--elevation-2-background);

  /* Colors */
  /* Base palette to match background and accent-color theme */
  --red: var(--gruvbox-red);
  --orange: var(--gruvbox-orange);
  --yellow: var(--gruvbox-yellow);
  --green: var(--gruvbox-green);
  --blue: var(--gruvbox-blue);
  --cyan: var(--gruvbox-aqua);
  --teal: var(--gruvbox-teal);
  --indigo: var(--gruvbox-indigo);
  --purple: var(--gruvbox-purple);
  --pink: var(--gruvbox-pink);
  --brown: var(--gruvbox-brown);

  /* Derived variants (light/dark) */
  --light-red: oklch(from var(--red) calc(l + 0.2) c h);
  --dark-red: oklch(from var(--red) calc(l - 0.2) c h);
  --light-orange: oklch(from var(--orange) calc(l + 0.2) c h);
  --dark-orange: oklch(from var(--orange) calc(l - 0.2) c h);
  --light-yellow: oklch(from var(--yellow) calc(l + 0.2) c h);
  --dark-yellow: oklch(from var(--yellow) calc(l - 0.2) c h);
  --light-green: oklch(from var(--green) calc(l + 0.2) c h);
  --dark-green: oklch(from var(--green) calc(l - 0.2) c h);
  --light-blue: oklch(from var(--blue) calc(l + 0.2) c h);
  --dark-blue: oklch(from var(--blue) calc(l - 0.2) c h);
  --light-cyan: oklch(from var(--cyan) calc(l + 0.2) c h);
  --dark-cyan: oklch(from var(--cyan) calc(l - 0.2) c h);
  --light-teal: oklch(from var(--teal) calc(l + 0.2) c h);
  --dark-teal: oklch(from var(--teal) calc(l - 0.2) c h);
  --light-indigo: oklch(from var(--indigo) calc(l + 0.2) c h);
  --dark-indigo: oklch(from var(--indigo) calc(l - 0.2) c h);
  --light-purple: oklch(from var(--purple) calc(l + 0.2) c h);
  --dark-purple: oklch(from var(--purple) calc(l - 0.2) c h);
  --light-pink: oklch(from var(--pink) calc(l + 0.2) c h);
  --dark-pink: oklch(from var(--pink) calc(l - 0.2) c h);
  --light-brown: oklch(from var(--brown) calc(l + 0.2) c h);
  --dark-brown: oklch(from var(--brown) calc(l - 0.2) c h);
 }
